
@import "./base/police";

.box__main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

$fondTitle:#3CAD85; 
$colorTitle: #FDD835;

$colorBlack: black;
$colorWhite: white;

$bgColorMenu1: #FFDADA;
$colorMenu1: #3E2723;

$bgColorMenu2: #FFF3FA;
$colorMenu2: rgb(189, 87, 56);
$orange: rgb(216, 111, 79);
$purple: rgb(172, 95, 196);
$darkblue: rgb(72, 72, 187);

$bgColorMenu3: #ffffff91;
$colorMenu3: rgb(83, 138, 255);

$bgColorMenu4: #FEFEFE;
$colorMenu4: #23c914fb;

$boxShadowColor: #EBEBEB;

/* HEADER */
body {
	margin: 0;
}
.page__header,
.page__footer {
	flex-shrink: 0; 
}

.fond {
	background-color: $fondTitle;
	color: $colorTitle;
	text-align: center;
}

.title {
	padding: 5px;
	font-size: 20px; 
	letter-spacing: -3px;
	font-family: 'Montserrat', sans-serif;
}

.box {
	margin-left: -12px;
	display: flex;	
	flex-direction: row;
}

.box__row {
	margin-left: -20px;
}

/* MAIN */
.lien {
	text-decoration: none;
	text-transform: none;
	color: $colorWhite;
	img {
		position: absolute;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		margin-left: -20px;
	}
}

.page__body {
	flex-grow: 1;
	margin: auto;
	margin-top: 20px;
}

.box__menu {
	width: 210px; height: 300px;
	border-radius: 2px;
	margin: 30px;
	text-align: center;
	box-shadow: 1px 1px 4px 3px $boxShadowColor;
}	

/* Zoom image des menus */
.menu__zoom__hover:hover .menu__zoom {
	-moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
	transition: all 0.8s;
	-moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
	transform: scale(1.15);
}

/* Degrader de couleur pour les menus */
.gradient {
	color: $colorWhite;
	background: linear-gradient(to right, rgb(216, 111, 79), rgb(91, 91, 212));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}

.gradient--menu3 {
	color: $colorWhite;
	background: linear-gradient(to right, rgb(48, 48, 248), rgba(87, 178, 253, 0.973));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;	
}

.gradient--menu4 {
	color: $colorWhite;
	background: linear-gradient(to right,rgb(3, 129, 34), rgb(166, 253, 132));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}

/****    ****/

.menu1 {
	background-color: $bgColorMenu1;
	font-family: 'Ma Shan Zheng', cursive;
	font-size: 19px;	
	letter-spacing: 1px;
	font-weight: 200;
}

.menu1 a {
	color: $colorMenu1;
}
.fontMenu--menu {
	font-family: 'Segoe Print', cursive/*'Shadows Into Light Two', cursive*/;
	font-weight: 200;
	font-size: 25px;
	margin-top: -10px;
}
.menu2 {
	background-color: $bgColorMenu2;
	font-family: 'Croissant One', cursive;
}
.menu2 a {
	color: $colorBlack;
	.menu2--color {
		color: $colorMenu2;
	}
	h2 {
		margin-top: 0;
	}
}
.fontMenu__2 {
	font-family: 'Frank Ruhl Libre', serif;
	letter-spacing: 1px;
}
.menu3 { 
	background-color: $bgColorMenu3;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}
.menu3 a {
	color: $colorBlack;
	.menu3--color {
		color: $colorMenu3;
	}
}
.menu4 { 
	background-color: $bgColorMenu4;
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
}
.menu4 a {
	color: $colorBlack;
	.menu4--color {
		color: $colorMenu4;
	}	
}
	
.box__menu__marge {
	padding-top: 100px; 
}

/* BOUTON */
.btn__previous {
	margin: auto;
	text-align: center;
	background-color: $fondTitle;
	color: $colorTitle;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 10px;
	width: 250px;
	border-radius: 10Px;
	a {
		color: $colorTitle ;
		text-decoration: none;
	}
}

/* FOOTER */
.page__footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;

    .box__item {
	width: 100%;
	}
	a {
	color: $colorTitle ;
	text-decoration: none;
	}
}

/* PAGES menu */
.menu {
	height: 55em;
}
.menu__title {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-weight: 100;
}
.menu__carte {
	margin: auto;
	text-align: center;
	width: 420px; 
	height: 640px;
	box-shadow: 1px 1px 2px 2px #EBEBEB;
	.title__Menu1 {
		margin-top: 0px;
	}
} 
.menu1__img {
	padding-top: 30px;
	width: 60px;
	height: 60px;
}
.menu__end {
	margin-left: 40px;
	margin-top: -40px;
	font-weight: 100;
	img {
		position: absolute;
		width: 30px;
		height: 30px;
		margin-top: 0px;
		margin-left: -100px;
	}
}
.menu__carte--paddingTop {
	padding-top: 40px;
}
.contenu__carte {
	margin-left: 0px;
}
.box__menu__carte {
	flex-direction: row;
}
.hr__bold {
	width: 75px;
	font-weight: bolder;
	border: 1px solid $colorBlack;
	margin-top: 15px;
	
}
.secondaire__title {
	padding-left: 40px;
	padding-right: 40px;
	font-family: 'Segoe Print', cursive;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0;
}
.paragraphe {
	font-family: 'Segoe Print', cursive;
	font-size: 9px;
	text-align: left;
	margin-left: 0px;
	padding-bottom: 40px;
	letter-spacing: 0;
}

.paragraphe--menu2 {
	font-size: 10.5px;
	font-family: 'Playfair Display', serif;
}
.menu2__color {
	color: $orange;
}
.menu2__color__diner {
	color: $purple;
}
.menu2__color__cake {
	color: $darkblue;
}
.secondaire__title--menu2 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 1px;
}
.paragraphe--menu3 {
	font-weight: bold;
}
.paragraphe--menu4 {
	font-size: 8.5px;
	font-weight: bold;
}

.paragraphe p {
	position: relative;
	height: 0px;
	padding-bottom: 6px;
}
.box__menu__description {
	flex-direction: row;
	width: 310px;
	height: 10px;
	margin-left: 10px;
}
.cake p {
	padding-bottom: 15px; 
	margin-left: 40px;
}

/* Page prochainement */
.box {
	justify-content: center;
}
.element {
	margin-top: 300px;
	width: 25px;
	height: 25px;
	border: 1px solid $colorBlack;
	border-radius: 50%;
}
.element:nth-child(1) {
	background-color: $colorBlack;
	margin-right: 10px;
}
.element:nth-child(2) {
	background-color: $colorBlack;
	margin-right: 10px;
}
.element:nth-child(3) {
	background-color: $colorBlack;
}
