
/* effet wiggle */
.box__item__wiggle:hover {
	animation: infinite shake 0.82s;
  }
@keyframes shake {
	10%, 90% {
	  transform: translate3d(-4px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(4px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
}

/* animation title underline */
@keyframes anim-underline {
    0% {background-size: 20px 1px;}
    50% {background-size: 200px 1px;}
    100% {background-size: 440px 1px;}
 }