
/* effet wiggle */
.box__item__wiggle:hover {
	animation: infinite shake 1.5s;
}
@keyframes shake {
	10%, 30%, 50%, 70%, 90% {
	  transform: translate(-4px, 0);
	}
	20%, 40%, 60%, 80% {
	  transform: translate(4px, 0);
	}
}

/* animation title underline */
@keyframes anim-underline {
    0% {background-size: 20px 1px;}
    50% {background-size: 200px 1px;}
    100% {background-size: 400px 1px;}
 }