/* code page index */
.box__main {
	display: flex;
	flex-direction: column;
	min-height: 110vh;
}

.lien {
	text-decoration: none;
	text-transform: none;
	color: $colorWhite;
	img {
		position: absolute;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		margin-left: -20px;
	}
}
.page__body {
	flex-grow: 1;
	margin: auto;
	margin-top: 20px;
}
.box {
	display: flex;	
	flex-direction: row;
	justify-content: center;
}
.box__row {
	margin-left: -20px;
}
.box__menu {
	width: 210px; height: 300px;
	border-radius: 2px;
	margin: 30px;
	text-align: center;
	box-shadow: 1px 1px 4px 3px $boxShadowColor;
	&__marge {
		padding-top: 100px; 
	}
}
/* Zoom image des menus */
.menu__zoom__hover:hover .menu__zoom {
	opacity: 0.6;
	-moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
	transition: all 0.8s;
	-moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
	transform: scale(1.15);
}

/* code utilisé sur tous les menus */
.menu {
	height: 55em;
	&__title {
		text-align: center;
		font-family: 'Raleway', sans-serif;
	}
}
h2 {
	font-weight: 100;
}
.menu__carte--paddingTop {
	padding-top: 40px;
}
.contenu__carte {
	margin-left: 0px;
}
.box__menu__carte {
	flex-direction: row;
	margin-left: 0px;
}
.secondaire__title {
	padding-left: 40px;
	padding-right: 40px;
	font-family: 'Segoe Print', cursive;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0;
	&:hover {
		background-image: linear-gradient(to right, $colorBlack 50%, transparent 0%);
		background-size: 440px 1px;
		background-repeat: no-repeat;
		background-position: 0% bottom;
		animation: linear 1s anim-underline ;
	}
}
.paragraphe {
	font-family: 'Segoe Print', cursive;
	font-size: 9px;
	text-align: left;
	margin-left: 0px;
	margin-top: -30px;
	padding-top: 20px;
	padding-bottom: 20px;
    letter-spacing: 0;
    p {
		position: relative;
		height: 0px;
		padding-bottom: 6px;
	}
}
.box__menu__description {
	flex-direction: row;
	width: 325px;
	height: 10px;
	margin-left: 10px;
}
.cake p {
	padding-bottom: 15px; 
	margin-left: 40px;
}
/* img ligne menu */
.box__img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -20px;
	&__elt:nth-child(2){
		padding: 2%;
	}
}
.img__reverse {
	transform: scaleX(-1);
}
.img__line img {
	height: 6px;
}


