


.gradient--menu4 {
	@include gradient($colorGradientMenu4, $colorGradientMenu4bis);
}
.menu4 { 
	background-color: $bgColorMenu4;
	font-family: $policeMenu4title;
	font-size: 20px;
}
.menu4 a {
	color: $colorBlack;
	.menu4--color {
		color: $colorMenu4;
	}	
}
.paragraphe--menu4 {
	font-size: 8.5px;
	font-weight: bold;
}