


.gradient--menu4 {
	@include gradientText(left, textColor($listColorMenu4));
}
.menu4 { 
	background-color: $bgColorMenu4;
	font-family: $policeMenu4title;
	font-size: 20px;
}
.menu4 a {
	color: $colorBlack;
	.menu4--color {
		color: $colorMenu4;
	}	
}
.paragraphe--menu4 {
	font-size: 11px;
}
.secondaire__title--menu4 {
	&:hover{
		@include colorUnderline(left, textColor($listColorMenu4));
	}
}