
.gradient--menu3 {
	color: $colorWhite;
	background: linear-gradient(to right, rgb(48, 48, 248), rgba(87, 178, 253, 0.973));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;	
}


.menu3 { 
	background-color: $bgColorMenu3;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}
.menu3 a {
	color: $colorBlack;
	.menu3--color {
		color: $colorMenu3;
	}
}

.paragraphe--menu3 {
	font-weight: bold;
}