


.menu3 { 
	background-color: $bgColorMenu3;
	font-family: $policeMenu3title;
	font-size: 20px;
}
.menu3 a {
	color: $colorBlack;
	.menu3--color {
		color: $colorMenu3;
	}
}
.gradient--menu3 {
	@include gradientText(left, textColor($listColorMenu3));
}

.secondaire__title--menu3 {
	&:hover{
		@include colorUnderline(left, textColor($listColorMenu3));
	}
}