

.menu2 {
	background-color: $bgColorMenu2;
	font-family: $policeMenu2;
}
.menu2 a {
	color: $colorBlack;
	.menu2--color {
		color: $colorMenu2;
	}
	h2 {
		margin-top: 0;
	}
}
.fontMenu__2 {
	font-family: $policeMenu2;
	letter-spacing: 1px;
}
.paragraphe--menu2 {
	font-size: 11px;
	font-family: $policeMenu2paragraphe;
}
.menu2__color {
	color: $orange;
	&__diner {
		color: $purple;
	}
	&__cake {
		color: $darkblue;
	}
}
.secondaire__title--menu2 {
	font-family: $policeMenu2paragraphe;
	letter-spacing: 1px;
	font-size: 13px;
	&:hover{
		@include colorUnderline(left, textColor($listColorMenu2));
	}
}
.gradient {
	@include gradientText(left, textColor($listColorMenu2));
}
