
/* dégradé de couleur */
@mixin gradient($colorGradient, $colorGradientBis) {
	color: $colorWhite;
	background: linear-gradient(to right, $colorGradient, $colorGradientBis);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}

/* box shadow */
@mixin shadowMenu {
    box-shadow: 1px 1px 2px 2px $boxShadowColor;
}

@mixin shadowCarte {
    box-shadow: 1px 1px 4px 3px $boxShadowColor;
}