

/* police de caracteres */
$policeAllMenuTitle: 'Raleway', sans-serif;

$policeMenu: 'Shadows Into Light Two', cursive;
$policeMenu1: 'Ma Shan Zheng', cursive;

$policeMenu2title: 'Croissant One', cursive;
$policeMenu2paragraphe: 'Playfair Display', serif;
$policeMenu2: 'Frank Ruhl Libre', serif;

$policeMenu3title: 'Dancing Script', cursive;

$policeMenu4title: 'Kaushan Script', cursive;

/* couleurs */
$fondTitle:#3CAD85; 
$colorTitle: #FDD835;

$colorBlack: black;
$colorWhite: white;

$bgColorMenu1: #FFDADA;
$colorMenu1: #3E2723;

$bgColorMenu2: #FFF3FA;
$colorMenu2: rgb(189, 87, 56);
$orange: rgb(216, 111, 79);
$purple: rgb(172, 95, 196);
$darkblue: rgb(72, 72, 187);

$bgColorMenu3: #f0efefec;
$colorMenu3: rgb(83, 138, 255);

$bgColorMenu4: #FEFEFE;
$colorMenu4: #23c914fb;

$boxShadowColor: #EBEBEB;

/* couleurs des dégradrés */
$colorGradientMenu2: rgb(216, 111, 79);
$colorGradientMenu2bis: rgb(91, 91, 212);

$colorGradientMenu3: rgb(48, 48, 248);
$colorGradientMenu3bis:rgba(87, 178, 253, 0.973);

$colorGradientMenu4: rgb(3, 129, 34);
$colorGradientMenu4bis: rgb(166, 253, 132);