$fondTitle:#3CAD85; 
$colorTitle: #FDD835;

$colorBlack: black;
$colorWhite: white;

$bgColorMenu1: #FFDADA;
$colorMenu1: #3E2723;

$bgColorMenu2: #FFF3FA;
$colorMenu2: rgb(189, 87, 56);
$orange: rgb(216, 111, 79);
$purple: rgb(172, 95, 196);
$darkblue: rgb(72, 72, 187);

$bgColorMenu3: #ffffff91;
$colorMenu3: rgb(83, 138, 255);

$bgColorMenu4: #FEFEFE;
$colorMenu4: #23c914fb;

$boxShadowColor: #EBEBEB;