

/* media queries */
@media all and (max-width: 680px) {
    .page__header {
        width: 100%;
    }
    .box--media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box__row {
        margin-left: 0px;
    }
    .page__mentionLegales {
        height: auto;
        padding-bottom: 90px;
    }
    .btn__previous {
        width: 300px;
        padding: 5px;
        font-size: 20px;
    }
    .menu__carte {
        height: 640px;
    }
}
@media all and( max-width: 425px) {
    .menu__carte {
        width: 425px;
        margin-left: 5px;
    }
}
@media all and( max-width: 375px) {
    .menu__carte {
        width: 375px;
        margin-left: 5px;
    }
    .cake p {
        margin-left: 20px;
    }
}
@media all and( max-width: 320px) {
    .menu__carte {
        width: 325px;
        height: 670px;
        padding-right: 5px;
        margin-left: 0px;
    }
    .page__body {
        margin-left: 5px;
    }
    .menu1, .menu2 {
        .cake {
            margin-left: -10px;
        }
    }
}