.box__main {
	display: flex;
	flex-direction: column;
	min-height: 110vh;
}

/* HEADER */
body {
	margin: 0;
}
.fond {
	background-color: $fondTitle;
	color: $colorTitle;
	text-align: center;
}
.title {
	padding: 5px;
	font-size: 20px; 
	letter-spacing: -3px;
	font-family: 'Montserrat', sans-serif;
}
.box {
	display: flex;	
	flex-direction: row;
	justify-content: center;
}
.box__row {
	margin-left: -20px;
}